* {
    padding: 0;
    margin: 0;
}

/*Оформление расстановки сетки страницы*/
body {
    display: grid;
    grid-template-areas: "header header" "aside main" "footer footer";
    grid-template-rows: 50px 5fr 50px;
    grid-template-columns: 250px 5fr;
    height: 100vh;
    background: #476e9e;
}

header {
    top: 0;
    left: 0;
    background: #2c3e50;
    color: #f6f7f8;
    grid-area: header;
}

nav {
    top: 0;
    left: 0;
    color: #f6f7f8;
    background: #2c3e50;
    grid-area: nav;
}

aside {
    top: 0;
    left: 0;
    padding: 10px;
    background: #476e9e;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 230px;
    margin-top: 50px;
}

main {
    top: 0;
    left: 0;
    padding: 10px;
    background: #16a085;
    grid-area: main;
}

footer {
    padding: 10px;
    background: #2c3e50;
    color: #f6f7f8;
    grid-area: footer;
    /*=================================*/
    display: flex;
    justify-content: right;
    align-items: center;
}
